*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #FDFDFD;
  color: #4A4A4A;
  font-size: 12px;
}

.wap-header {
  background-color: #fff;
  width: 100%;
  height: 58px;
  padding: 0 15px;
  border-bottom: 1px solid #F5F6FA;
}  

.wap-logo {
  display: inline-block;
  padding: 20px 0;
  text-transform: lowercase;
  letter-spacing: 2.23px;
  cursor: pointer;
  font-size: 14px;    
}

.wap-header--text {
  padding: 20px 0;
  float: right;
  color: #ddd;
  letter-spacing: 1.66px;    
}

.wap-header--text a {
  color: #ddd;
  padding-bottom: 20px;
  transition: all ease .25s;
}  

.wap-header--text a:hover {
  color: #CC2B39;
}  

.wap-main {
  height: calc(100% - 58px);
}

.wap-gallery {
  width: 100% ;
  float: left;
  padding: 50px 15px;
  text-align: center;
}

.wap-gallery--item {
  width: 270px;
  height: 230px;
  overflow: hidden;
  display: inline-block;
  text-align: left;
  margin: 0 15px 30px 15px;
  border-radius: 25px 25px;
  -webkit-box-shadow: 0 0 6px 0 #E7E7E7;
  box-shadow: 0 0 6px 0 #E7E7E7;
}

.wap-gallery--item-showcase {
  width: 100%;
  height: 160px;
  overflow: hidden;
  position: relative;
  display: block;
}

.wap-gallery--item-showcase img {
  width: 110%;
  transition: all ease .25s;
  transform: translate(-5%, -10%);
}

.wap-gallery--item:hover .wap-gallery--item-showcase img {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  filter: blur(5px);
  transform: translate(-5%, -10%) scale(1.2);
}

.wap-gallery--item-showcase-links {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  text-align: center;
  transition: all ease .25s;    
  opacity: 0;    
}

.wap-gallery--item:hover .wap-gallery--item-showcase-links {
  opacity: 1;
  transition-delay: .10s;
}

.item-showcase-link {
  width: 80px;
  height: 80px;
  margin-top: 50px;
  background: #fff;
  border-radius: 100%;
  display: inline-block;
  transform: translateY(10px);
  transition: all ease .25s;    

  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0, 0.12);
  box-shadow: 0 2px 4px 0 rgba(0,0,0, 0.12);
}

.wap-gallery--item:hover .item-showcase-link {
  transform: translateY(0);
  transition-delay: .10s;
}

.codepen-link {
  background: #fff url('../img/ico-codepen.svg') center center no-repeat;
}

.wap-gallery--item-desc-box {
  height: 70px;
  padding: 15px;
  background: #fff;
  transition: all ease .25s;    
}

.wap-gallery--item:hover .wap-gallery--item-desc-box {
  color: #fff;
  background: #444D67;
}


.wap-gallery--item-title {
  padding-bottom: 5px;
}

.wap-gallery--item-date {
  font-size: 10px;
  color: #9B9B9B;
  transition: all ease .25s;    
}

.wap-gallery--item:hover .wap-gallery--item-date {
  color: #fff;
}

.github-corner {
  transform: rotate(90deg);
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}


.github-corner svg {
  position: absolute;
  right: 0;
  top: 0;
  color: #ffffff;
  fill: #1AD3FF;
  z-index: 3;
}
.github-corner .octo {
  fill: #fff;
}
.github-corner:hover .octo-arm {
  animation: octocat-wave .56s;
}

@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0);
  }
  20%,
    60% {
    transform: rotate(-20deg);
  }
  40%,
    80% {
    transform: rotate(10deg);
  }
}
