<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

	<title>Web Animations Playground ❤️</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<meta name="description" content="A open source gallery where you can find cool animations made with the Web Animations API">

	<!-- Google Authorship Markup -->
	<link rel="author" href="https://plus.google.com/lorem_ipsum?rel=author">

	<!-- Social: Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="https://rmdias.github.io/webanimations-playground/">
	<meta name="twitter:title" content="Web Animations Playground ❤️">

	<!-- Social: Facebook / Open Graph -->
	<meta property="og:url" content="https://rmdias.github.io/webanimations-playground/">
	<meta property="og:title" content="Web Animations Playground ❤️">
	<meta property="og:site_name" content="Web Animations Playground ❤️">

	<!-- Social: Google+ / Schema.org  -->
	<meta itemprop="name" content="Web Animations Playground ❤️"/>
	<meta itemprop="description" content="A open source gallery where you can find cool animations made with the Web Animations API">

	<!-- Android Lolipop Theme Color -->
	<meta name="theme-color" content="#0562DC">

	<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="canonical" href="https://rmdias.github.io/webanimations-playground/">
</head>
