#dog--sky {
  background-color: #692C8C;
}

#dog-cloud1 {
  position: relative;
  top: 0;
  padding-top: 100px;
}

#dog-cloud2 {
  position: relative;
  top: 0;
  padding-top: 80px;
}

#dog .animal {
  z-index: 2;
  width: 150px;
  position: relative;
  margin: 240px auto 0 auto;
}

#tail {
  transform-origin: bottom;
}

#dog-floor {
  background-color: #83579D;
}

#dog-floor .floor--stones {
  background-color: #622E80;
}

#dog-floor .floor--stones .layer {
  background-color: #83579D;  
}

#dog-floor .stone1 {
  transform: translate(590%, -40%);  
  background-color: #83579D;
}

#dog-floor .stone2 {
  transform: translate(660%, 25%);  
}

#dog-floor .stone3 {
  width: 30px;
  height: 30px;
  transform: translate(15%, 5%);  
}