.stage {
  width: 375px;
  height: 667px;
  position: relative;
  margin: 20px auto;
  overflow: hidden;
}

.stage--sky {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.stage--floor {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40%;
  position: absolute;
}

.floor--stones {
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 100%;
}

.floor--stones .layer {
  position: absolute;
  width: 100%;
  height: 40%;
  bottom: 0;   
}